

.container1{
    margin-left: 90px; /* Ajusta conforme a largura da sua barra lateral */
    padding: 20px;
    padding-top: 80px; /* Ajusta conforme a altura do seu cabeçalho */
}
.container1 h1 {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.semana1 h2, .semana2 h2, .semana3 h2, .semana4 h2, .semana5 h2 {
    margin-top: 50px;
    padding-top: 40px; 
}

.sidebar3 {
    position: fixed;
    font-family: sans-serif;

    width: 110px;
    height: 35%;
    font-size: 15px;
    margin-right: 60px;
    text-align: start;
    border-color: #ffffff;
    border-radius: 10px;
    /*box-shadow: 0px  1px 1px 01px rgba(128, 128, 128, 0.1); */

    top: 132px;
    right: -210px;
    width: 130px;

    border-style: none;
    transition: right 0.3s;
    background-color: #e6e9f1;
}

.sidebar3.active {
    right: 0;
}

.sidebar3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar3 ul li {
    padding: 12px;
    background-color: #ffffff;
}

.sidebar3 ul li a {
    color: rgb(14, 74, 238);
    font-size: 16px;
    text-decoration: none;
}

.sidebar3 a:hover {
    text-decoration: underline; 
    color: #000000;
    
}

.sidebar3 ul li:hover {
    background-color: #bdbdbd; /* Muda a cor de fundo ao passar o mouse sobre o li */
    transform: scale(1.06);
}

.list h3{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.heading-border{
    height: 0.1em;
    display: flex;
    width: 80%;
    left: 10px;
    position: relative;
    background-color: rgb(48, 48, 48);
    margin-bottom: 18px;
}
.menu-button3 {
    position: fixed;
    top: 80px;
    right: 0px;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    background-color: #091a5a;
}

.menu-button3:hover {
    background-color: #21306e;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .container1 {
        margin-left: 20px; /* Ajusta a margem para telas menores */

        padding-top: 30px; /* Ajusta conforme a altura do seu cabeçalho */
    }

    .container1 h1, .projetos-leo h1, .contato-leo h1 {
        font-size: 22px;
    }
    .container1 img {
        width: 250px;
    }
    .container1 p{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .container1 {
        margin: 0;
        padding: 10px;
    }

    .container1 h1, .projetos-leo h1, .contato-leo h1, .fablab h2, .lemag h2, .lacut h2 {
        font-size: 20px;
    }

    .container1 img {
        width: 200px;
    }
    .container1 p{
        font-size: 15px;
    }
}