.container1{
    margin-left: 90px; /* Ajusta conforme a largura da sua barra lateral */
    padding: 20px;
    padding-top: 80px; /* Ajusta conforme a altura do seu cabeçalho */
}
.container1 h1 {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.container p{
    text-align: justify;
}

.semana1 h2, .semana2 h2, .semana3 h2, .semana4 h2, .semana5 h2 {
    padding-top: 80px; 
}

.sidebar3 {
    position: fixed;
    font-family: sans-serif;
    height: 25%;
    font-size: 15px;
    text-align: start;
    border-color: #ffffff;
    border-radius: 3px;
    top: 132px;
    right: -160px;
    width: 120px;
    border-style: none;
    transition: right 0.3s;
    background-color: #cbd5f0;
    z-index: 1000; /* Para garantir que a sidebar fique acima do conteúdo */
}

.sidebar3.active {
    right: 0;
}

.container1.blur {
    filter: blur(1px);
    transition: filter 0.3s ease;
}

.sidebar3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar3 ul li {
    padding: 5px;
    background-color: #ffffff;
}

.sidebar3 ul li a {
    color:#333;
    font-size: 15px;
    text-decoration: none;
}

.sidebar3 a:hover {
    text-decoration: underline; 
    color: #000000;
}

.sidebar3 ul li:hover {
    background-color: #bdbdbd; /* Muda a cor de fundo ao passar o mouse sobre o li */
    transform: scale(1.02);
}

.list h3{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
}

.list i {
    font-size: 16px !important;
    margin-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.semana1 img, .semana2 img {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 320px;
    border-radius: 3px; 
}

.semana3 img {
    display: block;
    margin: 10px auto;
    width: 230px;
    border-radius: 3px; 
}

.semana4 img {
    display: block;
    width: 500px;
    height: 300px;
    margin: 10px auto;
    border-radius: 3px; 
}

.heading-border{
    height: 0.1em;
    display: flex;
    width: 80%;
    left: 10px;
    position: relative;
    background-color: rgb(48, 48, 48);
    margin-bottom: 10px;
}
.menu-button3 {
    position: fixed;
    top: 80px;
    right: 0px;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    background-color: #091a5a;
    z-index: 1000; /* Para garantir que a sidebar fique acima do conteúdo */
}

.menu-button3:hover {
    background-color: #21306e;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .container1 {
        margin-left: 20px; /* Ajusta a margem para telas menores */

        padding-top: 30px; /* Ajusta conforme a altura do seu cabeçalho */
    }

    .container1 h1, .projetos-leo h1, .contato-leo h1 {
        font-size: 22px;
    }
    .semana1 h2, .semana2 h2, .semana3 h2, .semana4 h2, .semana5 h2 {
        font-size: 21px;
    }
    .container1 img {
        width: 250px;
    }
    .container1 p{
        text-align: justify;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .container1 {
        margin: 0;
        padding: 10px;
    }

    .container1 h1, .projetos-leo h1, .contato-leo h1, .fablab h2, .lemag h2, .lacut h2 {
        font-size: 20px;
    }
    .semana1 h2, .semana2 h2, .semana3 h2, .semana4 h2, .semana5 h2 {
        font-size: 18px;
    }

    .container1 img {
        width: 200px;
    }
    .container1 p{
        font-size: 14px;
        text-align: justify;
    }

    .semana1 img, .semana2 img {
        width: 250px;
        height: 320px;
    }
    
    .semana3 img {
        width: 200px;
    }
    
    .semana4 img {
        width: 300px;
        height: 200px;
        
    }
    
}