.container-fab{
    margin-left: 280px;
    margin-right: 360px;
    padding-top: 20px;
    margin-top: 80px;
    text-align: justify;
}
.container-fab h1{
    padding-bottom: 0px;
}

.conteudo-fab img{
    
    width: 500px;
    border-radius: 3px;
    transition: transform 0.4s ease;
}

.conteudo-fab img:hover {
    transform: scale(1.03);
}

.conteudo-fab2 img{
    margin-left: 450px;
    height: 280px;
    width: 300px;
    border-radius: 3px;
    transition: transform 0.4s ease;
}

.conteudo-fab{
    text-align: center;
    padding: 0;
}

.conteudo-fab3 img{
    margin-left: 450px;
    height: 450px;
    width: 350px;
    border-radius: 3px;
    transition: transform 0.4s ease;
}

.fonte {
    text-align: center;
    font-style: italic;
}

.conteudo-fab p{
    margin-bottom: 20px;
    padding: 8px;
}

.conteudo-fab2, .conteudo-fab3{
    padding: 8px;
    align-items: flex-start;
    text-align: justify;
}