
.container1 h1{
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.container1{
    margin-left: 90px; /* Ajusta conforme a largura da sua barra lateral */
    padding: 20px;
    padding-top: 80px;
    text-align: justify;
}

.machine {
    display: flex;
    align-items: center;
}

.machine-info {
    flex: 1; 
    padding: 30px;
}

.machine img {
    width: 180px;
    margin-right: 20px;
    border-radius: 10px; 
    transition: transform 0.4s ease;
}

.machine img:hover {
    transform: scale(1.1);
}

.machine-info ul {
    list-style: none;
    padding: 0;
}

.machine-info li {
    padding-bottom: 10px;
}

@media (max-width: 1008px) {
    .container1{
        margin-left: 0;
        padding: 10px;
    }
}

@media (max-width: 590px) {
    .container1 h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    .container1 {
        margin-left: 0;
        padding: 10px;
    }
}