.container-proj h1 {
    text-align: justify;
}

.container-proj {
    margin-left: 90px;
    padding: 20px;
    padding-top: 50px;
}

.container-proj h1 {
    padding-top: 40px;
    margin-bottom: 40px;
}

.contato-leo h1 {
    text-align: center;
}

.projetos-leo h1 {
    padding-top: 80px;
}

.fablab h2, .lemag h2, .lacut h2 {
    padding-top: 80px;
}

.nome-leo p, .projetos-leo p, .fablab p, .lemag p, .lacut p {
    text-align: justify;
}

.contato-leo {
    border-radius: 6px;
    margin-bottom: 10px;
}

.container-proj img {
    display: block;
    margin: 10px auto; /* Centraliza horizontalmente */
    width: 270px;
    border-radius: 3px; 
}

.sidebar2 {
    position: fixed;
    font-family: sans-serif;
    top: 132px;
    right: -180px;
    width: 130px;
    height: 27%;
    font-size: 15px;
    text-align: start;
    border-style: none;
    border-color: #ffffff;
    border-radius: 3px;
    transition: right 0.3s;
    background-color: #e6e9f1;
    z-index: 1000;
}

.sidebar2.active {
    right: 0;
}

.container-proj.blur {
    filter: blur(2px);
    transition: filter 0.3s ease;
}

.sidebar2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar2 ul li {
    padding: 5px;
    border-radius: 2px;
}

.sidebar2 ul li a {
    color: #000000; 
    font-size: 16px;
    text-decoration: none;
}

.sidebar2 a:hover {
    text-decoration: underline; 
    color: #063792;
}

.sidebar2 li:hover {
    background-color: #d3d3d3;
}

.menu-left__item .second li:hover {
    background-color: #d3d3d3;
}

.menu-left__item .second li {
    margin-top: 10px;
    padding: 7px;
    margin-left: 20px;
}

.sidebar2 .menu-left__item:hover {
    background-color: rgb(224, 226, 230);
}

.list h3 {
    font-size: 17px;
    margin: 10px;
    margin-left: 5px;
    margin-top: 10px;
}

.container i {
    font-size: 16px !important;
    margin-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-button2 {
    position: fixed;
    top: 80px;
    right: 0px;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: #091a5a;
    z-index: 1001; /* Para garantir que o botão fique acima do conteúdo */
}

.menu-button2:hover {
    background-color: #21306e;
    border-radius: 2px;
}

.box-social {
    margin: auto;
    display: table;
}

.box-social li {
    float: left;
    text-align: center;
    margin: 10px;
    border-radius: 50px;
    overflow: hidden;
}

.icone-box-github, .icone-box-linkedin, .icone-box-email {
    width: 45px;
    height: 45px;
    justify-content: center;
}

.contato-leo i {
    font-size: 20px !important;
    margin-top: 25%;
}

.icone-box-linkedin {
    background-color: #3b5998;
    color: #fff;
    font-size: 10px !important;
}

.icone-box-github {
    background-color: #2b2b2b;
    color: #fff;
}

.icone-box-email {
    background-color: #be4f40;
    color: #fff;
}

@media (max-width: 768px) {
    .container-proj {
        margin-left: 20px; /* Ajusta a margem para telas menores */
        padding: 10px;
        padding-top: 30px; /* Ajusta conforme a altura do seu cabeçalho */
    }

    .container-proj h1, .projetos-leo h1, .contato-leo h1 {
        font-size: 22px;
    }
    .box-social li {
        margin: 5px;
    }

    .icone-box-github, .icone-box-linkedin, .icone-box-email {
        width: 40px;
        height: 40px;
    }
    
    .container-proj img {
        width: 250px;
    }
    .container-proj p{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .container-proj {
        margin: 0;
        padding: 10px;
    }

    .container-proj h1, .projetos-leo h1, .contato-leo h1, .fablab h2, .lemag h2, .lacut h2 {
        padding-top: 80px;
        font-size: 20px;
    }

    .container-proj img {
        width: 200px !important;
    }
    .container-proj p{
        font-size: 15px;
    }
}

.flip-cor {
-webkit-transition: 0.3s;
        transition: 0.3s;
}

li:hover:hover .flip-cor  {
    transform: rotateY(360deg);
    transition: .4s;
}

.back li:first-child:hover a div {
    background-color: #e6e7e9;
    color: #3b5998;
    transition: .4s;
}
.back li:nth-child(2):hover a div {
    background:hsl(0 0% 10%);
    background: radial-gradient(circle at 30% 107%, #e6e7e9 0%, #e6e7e9 5%, #e6e7e9 45%,#e6e7e9 60%,#e6e7e9 90%); 
    color: #3a3839;
    transition: .4s;
}

.back li:nth-child(3):hover a div {
    background-color: #e6e7e9;
    color: #ed2f00;
    transition: .4s;
}

.cor-horizontal:hover, .cor-horizontal:focus, .cor-horizontal:active {
    color: white;
}
.cor-horizontal:hover:before, .cor-horizontal:focus:before, .cor-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

