body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #333;
}

.header-container {
    background-color: #091a5a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1560px;
    height: 80px;
    padding: 0 10px;
    margin-left: 100px;
}

.main-title {
    color: #f1f1f1;
    font-size: 32px;
}

.header-content img {
    width: 59px;
    height: 55px;
    margin-right: 20px;
    margin-top: 10px;
}

.menu-text {
    margin-left: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -210px;
    width: 210px;
    height: 100%;
    background-color: #091a5a;    
    transition: left 0.3s ease;
    padding-top: 100px;
    z-index: 99; 
}

.menu-button {
    position: fixed;
    top: 18px;
    border-radius: 6px;
    left: 15px;
    z-index: 9999; 
    cursor: pointer;
    border: none;
    color: white;
    font-size: 22px;
    background-color: transparent;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif; 
}

.sidebar ul li {
    padding: 20px;
    padding-top: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar i {
    font-size: 20px !important;
    margin-top:15%;
}

.sidebar ul li:hover {
    background-color: #4b5789;
    transform: scale(1.007);
}

.sidebar a:hover {
    color: rgb(255, 255, 255);
    text-shadow: rgb(43, 49, 80) 0.2em 0.2em 0.4em;
}

.menu-button:hover {
    background-color: #404a71;
    border-radius: 2px;
}

.info {
    float: left;
    margin-top: 10px;
}

.small h1 {
    text-align: justify;
    font-size: 29px;
}

.info img {
    width: 160px;
}

.global {
    margin-left: 90px; /* Ajusta conforme a largura da sua barra lateral */
    padding: 20px;
    padding-top: 90px; /* Ajusta conforme a altura do seu cabeçalho */
    text-align: justify;
    margin-right: 50px;
    
}

.global .info img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1008px) {
    .header-content {
        align-items: center;
    }

    .main-title {
        font-size: 30px;
        margin: 10px 0;
    }

    .header-content img {
        margin-top: 0;
        margin-right: 0;
    }

    body {
        padding-top: 100px;
    }

    .info, .small h1, .content {
        margin-left: 0;
        text-align: center;
    }

    .small h1 {
        font-size: 24px;
        margin-top: 20px;
    }

    .info img {
        width: 120px;
    }

    .content {
        margin: 0 auto;
        padding: 0 10px;
    }
    .global{
        margin-left: 0;
        padding: 10px;
    }
}

@media (max-width: 590px) {
    .main-title {
        font-size: 24px;
    }

    .menu-button {
        font-size: 16px;
    }

    .small h1 {
        font-size: 18px;
        margin-top: 15px;
    }

    .info img {
        width: 100px;
    }

    .content {
        padding: 0 10px;
    }
    .global {
        margin: 0;
        padding: 10px;
    }

}

@media screen and (max-width: 700px) {
    .global {
        margin-left: 0;
        padding: 10px;
    }

}